{% extends 'base.html' %}

{% block header %}
<h1>Flask student</h1>
{% endblock %}

{% block content %}
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Note</th>
            <th scope="col">tarif</th>
            <th scope="col">Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">id</th>
            <td> name </td>
            <td> grade </td>
            <td>note todo (plus tard)</td>
            <td>tarif</td>
            <td>country</td>
        </tr>
    </tbody>
</table>
{% endblock %}